.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: #FDFDFD
}

.container form {
  padding: 8px;
  background: #4621AD;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
  display: flex;
}

.container form .row .col {
  flex: 1 1 250px;
  border-radius: 15px;
  background-color: #FDFDFD;
  margin: 15px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  margin: 10px;
  text-transform: uppercase;
}
